#previewContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 350px;
    position: relative;
    top: 50px;
    left: 70px;
}

#imageContainer {
    width: 375px;
    height: 50vh;
}


img {
    height: 50px;
    width: auto;
}

#bigImg {
    height: 50vh;
    width: auto;
}

@media (min-width: 1200px) and (max-width: 1600px) {
    body {
        color: white;
    }
}
@media (min-width: 600px) and (max-width: 1280px) {
    body {
        color: white;
    }
}