#background {
    background-color: olive;
    height: 500px;
    position: relative;
}

#mainLeft {
    position: absolute;
    top: 250px;
}

#mainRight {
    position: absolute;
    top: 250px;
    right: 0px;
}

.previews {
    display: flex;
    height: auto;
    justify-content: center;
    gap: 5px;
    background-color: red;
}

.previewBar {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    gap: 20px;
    background-color: purple;
}

p {
    text-align: right;
    background-color: blue;
    color: white;
}

img {
    width: 100px;
    background-color: orange;
}

body {
    background-color: black;
}

.button {
    background-color: wheat;

}